@rendermode InteractiveServer
@using CompressoApp.Services;


<select value="@Value" @onchange="OnChange" class="form-select" disabled="@Disabled">
    <option value="">-- Select an optimizer --</option> 
    @if (Gurobi)
    {
        <option value="gurobi">Gurobi</option>
        <option value="gurobi_relax">Gurobi Relax</option>
    }

    <option value="cbc">CBC</option>
    <option value="scip">SCIP</option>

</select>

@code {
    [Parameter] public string? Value { get; set; } = "";
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public string Style { get; set; } = "";
    [Parameter] public bool Gurobi { get; set; } = false; 
    [Inject] private ApiClient Api { get; set; } = default!;


    protected async override void OnInitialized()
    {
        Gurobi = await Api.GetGurobiStatusAsync();
        StateHasChanged();
    }


    private async Task OnChange(ChangeEventArgs e)
    {
        var newValue = e.Value?.ToString();
        Value = newValue;  // update internal view
        await ValueChanged.InvokeAsync(newValue);  // notify parent
    }
}
